# Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered and unindexed. No duplicate members.

Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

# list

A list is a collection of items in a particular order

In [2]:
names =["jam","tom","sam","komol"]
#       0  ,  1 ,   2    ,3
#        -4   ,-3 , -2  , -1
names

['jam', 'tom', 'sam', 'komol']

In [3]:
countries =["uk","itlay","turkey","us"]
countries

['uk', 'itlay', 'turkey', 'us']

# Accessing list element:
you can access the list elements using index.

In [6]:
animals =["cat","dog","rat","bat","lion","monkey"]
       #   0   ,1    ,2    ,3    ,4     ,5       ,6 
print(animals[3])
     # listname[index no]

bat

# Change Item Value
To change the value of a specific item, refer to the index number:

In [7]:
print("before changing")
print(animals)
animals[1] = "tiger"
print("after changing")
print(animals)

before changing
['cat', 'dog', 'rat', 'bat', 'lion', 'monkey']
after changing
['cat', 'tiger', 'rat', 'bat', 'lion', 'monkey']

# List Length
To determine how many items a list has, use the len() function:

In [8]:
len(animals)

6

# Adding items in list

In [9]:
# method 1 
animals.append("cow") # cow is add in the list as a last element .
animals

['cat', 'tiger', 'rat', 'bat', 'lion', 'monkey', 'cow']

In [10]:
#method 2
animals.insert(3,"snake") # by insert method you can add element by index
animals

['cat', 'tiger', 'rat', 'snake', 'bat', 'lion', 'monkey', 'cow']

In [11]:
animals.extend(["donkey","elephant","rabbit"]) # extened method is  used to add multiple values

In [12]:
animals

['cat',
 'tiger',
 'rat',
 'snake',
 'bat',
 'lion',
 'monkey',
 'cow',
 'donkey',
 'elephant',
 'rabbit']

In [13]:
animals.index("bat")

4

In [15]:
#animals.remove() # remove all the elements in list.

# COPY LIST

In [16]:
animals_1 =animals.copy() # copy by value

In [17]:
animals_1

['cat',
 'tiger',
 'rat',
 'snake',
 'bat',
 'lion',
 'monkey',
 'cow',
 'donkey',
 'elephant',
 'rabbit']

In [18]:
animals_2 = animals # copy by reference
#copy reference means when you add something in orginal then copy is also effected.

In [19]:
animals_2

['cat',
 'tiger',
 'rat',
 'snake',
 'bat',
 'lion',
 'monkey',
 'cow',
 'donkey',
 'elephant',
 'rabbit']

In [22]:
#for example:
print(animals)
animals.append("cat")
print(animals_1) # by value copy
print(animals_2) # by reference copy

['cat', 'tiger', 'rat', 'snake', 'bat', 'lion', 'monkey', 'cow', 'donkey', 'elephant', 'rabbit', 'cat']
['cat', 'tiger', 'rat', 'snake', 'bat', 'lion', 'monkey', 'cow', 'donkey', 'elephant', 'rabbit']
['cat', 'tiger', 'rat', 'snake', 'bat', 'lion', 'monkey', 'cow', 'donkey', 'elephant', 'rabbit', 'cat', 'cat']

# Removing elements in a list

In [24]:
# method 1
del animals[3] # permanently delete the value from list.
# method
animals.remove("rat")

In [25]:
animals

['cat',
 'tiger',
 'lion',
 'monkey',
 'cow',
 'donkey',
 'elephant',
 'rabbit',
 'cat',
 'cat']

# poping elements from the list.

In [26]:
# pop function return the delete value
popitem =animals.pop() # delete last item from the list.

In [27]:
popitem

'cat'

In [28]:
popitem1 =animals.pop(3)
popitem1

'monkey'

# join_2_list

In [29]:
list1 = ["a","b","c"]
list2 =[1,2,3]
list3  =list1+list2

In [30]:
list3

['a', 'b', 'c', 1, 2, 3]

In [31]:
for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

# Tuples

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [33]:
tuple1 = ("man","lady","girl")
tuple1

('man', 'lady', 'girl')

In [34]:
tuple1[1]

'lady'

In [35]:
for x in tuple1:
    print(x)

man
lady
girl

In [36]:
tuple1[1] ="boy" # error occur because tuple is immuteable.
tuple1

TypeError: 'tuple' object does not support item assignment